<!-- Card Producto -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-30%</span>
    <img src="../img/products/iphone16e-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">APPLE</p>
      <h6 class="card-title">iPhone 16e</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">256 GB</span>
        <span class="badge rounded-pill capacity-badge">512 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">2639.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 3749.00</strike></p>
      <!--<p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 2 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-22%</span>
    <img src="../img/products/honorx8c-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">HONOR</p>
      <h6 class="card-title">Honor X8C</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
        <div class="rounded-circle color-azul"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">64 GB</span>
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">899.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 1159.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 3 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-24%</span>
    <img src="../img/products/galaxya16-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">SAMSUMG</p>
      <h6 class="card-title">Galaxy A16</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-violeta"></div>
        <div class="rounded-circle color-verde"></div>
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">599.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 789.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 4 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-25%</span>
    <img src="../img/products/redminote14-5g-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">XIOMI</p>
      <h6 class="card-title">Redmi Note 14 Pro 5G</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
        <div class="rounded-circle color-verde"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
        <span class="badge rounded-pill capacity-badge">256 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">1309.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 1749.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 5-->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-27%</span>
    <img src="../img/products/motog35-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">MOTOROLA</p>
      <h6 class="card-title">Moto G35</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
        <span class="badge rounded-pill capacity-badge">256 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">579.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 789.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-30%</span>
    <img src="../img/products/iphone16e-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">APPLE</p>
      <h6 class="card-title">iPhone 16e</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">256 GB</span>
        <span class="badge rounded-pill capacity-badge">512 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">2639.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 3749.00</strike></p>
      <!--<p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 2 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-22%</span>
    <img src="../img/products/honorx8c-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">HONOR</p>
      <h6 class="card-title">Honor X8C</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
        <div class="rounded-circle color-azul"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">64 GB</span>
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">899.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 1159.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 3 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-24%</span>
    <img src="../img/products/galaxya16-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">SAMSUMG</p>
      <h6 class="card-title">Galaxy A16</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-violeta"></div>
        <div class="rounded-circle color-verde"></div>
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">599.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 789.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 4 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-25%</span>
    <img src="../img/products/redminote14-5g-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">XIOMI</p>
      <h6 class="card-title">Redmi Note 14 Pro 5G</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
        <div class="rounded-circle color-verde"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
        <span class="badge rounded-pill capacity-badge">256 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">1309.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 1749.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 5-->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-27%</span>
    <img src="../img/products/motog35-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">MOTOROLA</p>
      <h6 class="card-title">Moto G35</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
        <span class="badge rounded-pill capacity-badge">256 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">579.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 789.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-30%</span>
    <img src="../img/products/iphone16e-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">APPLE</p>
      <h6 class="card-title">iPhone 16e</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">256 GB</span>
        <span class="badge rounded-pill capacity-badge">512 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">2639.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 3749.00</strike></p>
      <!--<p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 2 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-22%</span>
    <img src="../img/products/honorx8c-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">HONOR</p>
      <h6 class="card-title">Honor X8C</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
        <div class="rounded-circle color-azul"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">64 GB</span>
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">899.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 1159.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 3 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-24%</span>
    <img src="../img/products/galaxya16-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">SAMSUMG</p>
      <h6 class="card-title">Galaxy A16</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-violeta"></div>
        <div class="rounded-circle color-verde"></div>
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">599.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 789.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 4 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-25%</span>
    <img src="../img/products/redminote14-5g-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">XIOMI</p>
      <h6 class="card-title">Redmi Note 14 Pro 5G</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
        <div class="rounded-circle color-verde"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
        <span class="badge rounded-pill capacity-badge">256 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">1309.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 1749.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 5-->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-27%</span>
    <img src="../img/products/motog35-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">MOTOROLA</p>
      <h6 class="card-title">Moto G35</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
        <span class="badge rounded-pill capacity-badge">256 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">579.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 789.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-30%</span>
    <img src="../img/products/iphone16e-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">APPLE</p>
      <h6 class="card-title">iPhone 16e</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">256 GB</span>
        <span class="badge rounded-pill capacity-badge">512 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">2639.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 3749.00</strike></p>
      <!--<p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 2 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-22%</span>
    <img src="../img/products/honorx8c-black-front.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">HONOR</p>
      <h6 class="card-title">Honor X8C</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-black"></div>
        <div class="rounded-circle color-azul"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">64 GB</span>
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">899.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 1159.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>

<!-- Card Producto 3 -->
<div class="col">
  <div class="card h-100 shadow-sm position-relative">
    <span class="badge bg-danger position-absolute top-0 end-0 m-2">-24%</span>
    <img src="../img/products/galaxya16-black.webp" class="card-img-top" alt="iPhone 16e">
    <div class="card-body">
      <p class="text-muted small mb-0">SAMSUMG</p>
      <h6 class="card-title">Galaxy A16</h6>
      <!-- Colores -->
      <div class="d-flex gap-2 mb-2">
        <div class="rounded-circle color-violeta"></div>
        <div class="rounded-circle color-verde"></div>
        <div class="rounded-circle color-black"></div>
      </div>

      <!-- Capacidad -->
      <div class="d-flex gap-2 mb-2">
        <span class="badge rounded-pill capacity-badge">128 GB</span>
      </div>
      <p class="text-muted mb-0 small"><strong class="text-black">Desde</strong></p>
      <p class="text-danger mb-0">
        <strong>S/</strong>
        <strong class="precio-responsive">599.00</strong>
      </p>
      <p class="text-muted small">Antes: <strike>S/ 789.00</strike></p>
      <!-- <p class="text-muted small fst-italic">POSTPAGO RENOVACIÓN</p>
        <p class="fw-bold text-danger small">Max Ilimitado 95.90</p> -->
      <button class="btn btn-danger w-100">Lo quiero</button>
    </div>
  </div>
</div>