<h5 class="fw-bold mb-3">Filtrar por</h5>
<div class="accordion" id="accordionFiltros">

  <!-- Marca -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingMarca">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMarca"
        aria-expanded="false" aria-controls="collapseMarca">
        Marca
      </button>
    </h2>
    <div id="collapseMarca" class="accordion-collapse collapse" aria-labelledby="headingMarca"
      data-bs-parent="#accordionFiltros">
      <div class="accordion-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Apple
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Samsung
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Honor
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Oppo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Xiomi
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            ZTE
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Realme
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- Precio -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingPrecio">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsePrecio" aria-expanded="false" aria-controls="collapsePrecio">
        Cámara Principal
      </button>
    </h2>
    <div id="collapsePrecio" class="accordion-collapse collapse" aria-labelledby="headingPrecio"
      data-bs-parent="#accordionFiltros">
      <div class="accordion-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Hasta 20MP
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            De 21MP a 50MP
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            De 51MP a 90MP
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            Mas de 100MP
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- Capacidad -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingCapacidad">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseCapacidad" aria-expanded="false" aria-controls="collapseCapacidad">
        Capacidad
      </button>
    </h2>
    <div id="collapseCapacidad" class="accordion-collapse collapse" aria-labelledby="headingCapacidad"
      data-bs-parent="#accordionFiltros">
      <div class="accordion-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            32MB
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            64GB
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            128GB
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            256GB
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            512GB
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
            1TB
          </label>
        </div>
      </div>
    </div>
  </div>
</div>